data/
env/
phh-dataset/
exp/
__pycache__/
build/
ompeval.cpython-312-darwin.so
.vscode/

*.pt

ompeval.egg-info/
out/
*.so
wandb/
tempbuild/

# ignore 
*.deb
src/model/model
src/model/CMakeFiles
src/models/CMakeCache.txt
src/models/cmake_install.cmake